<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".HiltActivityForTest"
            android:exported="false" />
    </application>
</manifest>